.cursor-rigth { 
  width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid rgb(208, 253, 216);

  position: absolute;
  left: 170px;
  top: -10px;
}