.mountsYears { 
  display: grid;
  grid-template-columns: repeat(3, 92px);
  grid-template-rows: repeat(4, 47px);
  grid-row-gap: 0;

  margin: 0;
  padding: 0;

  margin-top: 10px;

  background-color: #fff;
  
}